:root {
  --fs-1: 4.8rem;
  --fs-2: 4rem;
  --fs-3: 3.4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fs-9: 1.3rem;
}
.section-title {
  font-weight: 500;
  font-size: 2.1rem;
}
.shop {
  font-family: var(--ff-urbanist);
}
.shop .title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  margin-block-end: 50px;
}

.shop .btn-link:is(:hover, :focus) {
  color: var(--hoockers-green);
}
.shop-card .card-banner {
  position: relative;
  overflow: hidden;
}
.shop-card .badge {
  position: absolute;
  top: 20px;
  left: 20px;
}
.shop-card .card-actions {
  position: absolute;
  top: 50%;
  right: 0;
  display: grid;
  transform: translate(0, -50%);
  gap: 10px;
  opacity: 0;
  transition: var(--transition-3);
}
.shop-card .action-btn {
  background-color: var(--white);
  font-size: 24px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.btn-link ion-icon {
  font-weight: 400;
  padding-left: 3px;
}
.shop-card .action-btn:is(:hover, :focus) {
  background-color: var(--black);
  color: var(--white);
}
.shop-card:is(:hover, :focus-within) .card-actions {
  opacity: 1;
  transform: translate(-20px, -50%);
}
.shop-card .card-content {
  padding-block: 20px;
  text-align: center;
}
.shop-card :is(.price, .card-rating, .rating-wrapper) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.shop-card .del {
  font-size: var(--fs-9);
  font-weight: var(--fw-400);
}
.shop-card .price .span {
  color: var(--black);
  font-weight: var(--fw-500);
}
.shop-card .card-title {
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  margin-block-end: 8px;
  transition: var(--transition-1);
}
.shop-card .card-title:is(:hover, :focus) {
  text-decoration: underline;
  color: var(--hoockers-green);
}
.shop-card .rating-wrapper {
  gap: 2px;
  color: var(--hoockers-green);
  font-size: 15px;
}
.shop-card .rating-text {
  font-size: var(--fs-8);
  font-weight: var(--fw-400);
  line-height: 1;
}
.badge {
  max-width: max-content;
  background-color: var(--hoockers-green);
  color: var(--white);
  font-weight: var(--fw-700);
  padding-inline: 12px;
  border-radius: var(--radius-3);
}
