.offer-subtitle {
  font-size: var(--fs-9);
  display: flex;
  align-items: center;
  gap: 10px;
}
.offer-subtitle .span {
  color: var(--black);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 2px;
}
.offer .badge {
  font-weight: var(--fw-500);
}
.offer .section-title {
  margin-block: 20px 8px;
}
.offer .section-text {
  font-size: var(--fs-6);
}
.offer .countdown {
  color: var(--hoockers-green);
  font-size: var(--fs-2);
  list-style: 1;
  display: flex;
  margin-block: 20px 40px;
}
.offer .time:not(:last-child)::after {
  content: '.';
  color: var(--gray-web);
  font-size: 2rem;
  font-weight: var(--fw-500);
  margin-inline: 10px;
  font-family: var(--ff-urbanist);
}
.offer .time {
  display: flex;
  align-items: center;
}
.btn-primary {
  font-weight: var(--fw-400);
  max-width: max-content;
  padding: 10px 27px;
  border-radius: var(--radius-3);
  transition: var(--transition-1);
  background-color: var(--black);
  color: var(--white);
}
